---
import { workExperience } from "../utils/workExperience"
import TimeLineDetails from "./TimeLineDetails.astro"

const icon = 'work-logo'
---

<div class="flex flex-col items-baseline my-7">
  {workExperience && workExperience.map((item, index) => (
    <TimeLineDetails 
      index={index} 
      data={ workExperience } 
      title={item.title} 
      subtitle={item.company} 
      description={item.description} 
      date={item.date} 
      icon={icon}
    />
  ))}
</div>

