---
import { Icon } from "astro-icon/components";

const { index, data, title, subtitle, description, date, icon } = Astro.props
---

<div class="relative flex gap-6">
    <div class="relative flex flex-col items-center">
        <div class={`absolute top-0 left-[9px] w-[2px] h-full bg-[#fffffe] ${index === data.length - 1 ? 'hidden' : ''}`}></div>
        
        <div class="relative w-5 h-5 flex items-center justify-center bg-[#16161a] border-2 border-[#fffffe] rounded-full">
          <Icon name={icon} class='text-2xl text-[#fffffe]' />
        </div>
      </div>

      <div class="pb-5">
        <h2 class="text-xl text-[#fffffe] font-semibold font-sans mb-2">{title}</h2>
        <span class="text-[#fffffe] font-sans">{subtitle}</span>
        <p class="text-md text-[#94a1b2] font-normal font-sans">{date}</p>
        { description && <p class="text-[#b8c1ec] text-md w-fit font-normal font-sans my-2">{description}</p>}
    </div>
</div>